.vs
IRepository/obj/Debug/net8.0/IRepository.AssemblyInfoInputs.cache
/IRepository/obj
/IRepository/obj
/Model/obj
/Model/obj
/Repository/bin/Debug/net8.0
/Repository/obj/Debug/net8.0
/WebApplication2/bin/Debug/net8.0
